{% extends "base.html" %}
{% load static %}
{% load favs_tags %}

{% block content %}
{% user_favs request as favs %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                <h3 class="text-center mb-4">Избранное</h3>
                <div class="container" id="fav-items-container"
                    {% include "favs/includes/included_fav.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
