{% extends "base.html" %}
{% load static %}

{% block modal_fav %}
{% include "includes/fav_button.html" %}
{% endblock  %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="card">
            <div class="row">
              <div class="col-md-4">
                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.name }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book.name }}</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="card-subtitle mb-2 text-muted">Автор: {{ book.author }}</h6>
                    <a href="{% url "fav:fav_add" book.slug %}" class="btn btn-dark add-to-fav">Добавить в избранное</a>
                  </div>
                  <p class="card-text">{{ book.description }}</p>
                  <p class="card-text">Город: {{book.city}}</p>
                  <p class="card-text">Владелец: {{book.owner}} для связи: {{user.contact}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
