{% extends "base.html" %}
{% load static %}
{% load books_tags %}

{% block modal_fav %}
{% include "includes/fav_button.html" %}
{% endblock  %}

{% block content %}
                    <!-- Контент на странице -->
                    <div class="row">

                        {% for book in books %}
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow" >
                                {% if book.image %}
                                    <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.name }}" style="height: 100%; object-fit: cover;">
                                {% else %}
                                    <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" style="height: 100%; object-fit: cover;">
                                {% endif %}
                                <a href="{% url "fav:fav_add" book.slug %}" class="btn add-to-fav" style="height: 100%; object-fit: cover;">
            
                                <div class="card-body">
                                    <a href="{% url "catalog:book" book.slug %}">
                                        <p class="card-title">{{ book.name }}</p>
                                    </a>
                                    <p class="card-text text-truncate">{{ book.description }}</p>
                                    <div class="d-flex justify-content-between">
                                        <a href="{% url "fav:fav_add" book.slug %}" class="btn add-to-fav">
                                            <img class="mx-1" src="{% static "deps/icons/red-heart-icon.svg" %}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!-- Пагинация -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center my-4">
                            <div class="custom-shadow d-flex">

                                <li class="page-item {% if not books.has_previous %}disabled{% endif %}">
                                  <a class="page-link" href="{% if books.has_previous %}?{% change_params page=books.previous_page_number%}{% else %}"
                                  {% endif %}>Назад</a>
                                </li>

                                {% for page in books.paginator.page_range %}
                                {% if page >= books.number|add:-2 and page <= books.number|add:2 %}
                                    <li class="page-item"> {% if books.number == page %}{% endif %}
                                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not books.has_next %}disabled{% endif %}">
                                  <a class="page-link" href="{% if books.has_next %}?{% change_params page=books.next_page_number%}{% else %}"
                                  {% endif %}>Вперед</a>
                                </li>
                            </div>
                        </ul>
                    </nav>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock %}